<div class="user container">
  <!-- プロフィール部分 -->
  <div class="profile">
    <div class="image">



     <div style="background: url('<%= image_url(@user) %>'); background-position: 50%; background-size: cover;"></div>

    </div>
    <div class="info">
      <div class="name">
        <h1><%= @user.name %></h1>
        <div class="actions">
          <% if @user.id == current_user.id %>
          <div class="edit">
            <%= link_to "プロフィール編集", profile_edit_path %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="status">
        <p class="posts_count">投稿数 <%= @user.posts.length %>件</p>
        <p class="follower_count"><a href="#">フォロワー1人</a></p>
        <p class="follow_count"><a href="#">3人をフォロー中</a></p>
      </div>
      <div class="comment">
        <%= @user.comment %>
      </div>
    </div>
  </div>
  <!-- 投稿画像部分 -->
  <div class="posts">
    <ul>
      <% @posts.each do |post| %>
        <% post.post_images.each do |post_image| %>
        <li>
          <div style="background: url('<%= "/images/#{post_image.name}" %>'); background-repeat: no-repeat; background-position: 50%;"></div>
        </li>
        <% end %>
      <% end %>
      </ul>
  </div>
</div>