<div class="top container">
  <% if @posts.any? %>
  <ul class="posts">
    <% @posts.each do |post| %>
    <!-- 投稿画像１つめ -->
    <li>
      <!-- 投稿者のアイコン -->
      <div class="user">
        <div style="background: url('<%= image_url(post.user) %>'); background-position: center; background-size: cover" class="image"></div>
        <p><%= link_to post.user.name, profile_path(post.user) %></p>
      </div>
      <!-- 投稿画像 -->
      <% post.post_images.each do |post_image| %>
      <div class="image_wrap">
        <%= image_tag "/images/#{post_image.name}" %>
      </div>
      <% end %>
      <!-- テキスト部分 -->
      <div class="info">
        <div class="action">
          <a href="#">
            <i class="fa fa-heart-o"></i><!-- いいねを押してない時のハート -->
          </a>
          <label for="post-comment-">
            <i class="fa fa-comment-o"></i>
          </label>
          <a href="#">
            <i class="fa fa-close"></i>
          </a>
        </div>
        
        
        <!--削除の×-->
        <% if post.user_id == current_user.id %>
          <%= link_to post_path(post), method: :delete do %>
            <i class="fa fa-close"></i>
          <% end %>
        <% end %>
        
        
        <div class="like">
          <p>いいね 3件</p>
        </div>
        <!-- コメント部分 -->
        <div class="comment">
          <ul>
            <!-- 投稿者のキャプション -->
            <% if post.caption.present? %>
            <li>
              <span class="user_name"><%= post.user.name %></span>
              <span class="caption"><%= post.caption %></span>
            </li>
            <% end %>
            <!-- 画像へのコメント -->
            <li>
              <span class="user_name">田中一郎</span>
              <span class="caption">こんにちは〜</span>
            </li>
          </ul>
          <!-- コメント入力部分 -->
          <div class="text_wrap">
            <form method="post" action="#">
              <div class="field">
                <input type="text" name="comment" id="post-comment-" placeholder="コメントを入力">
                <input type="submit" value="送信">
              </div>
            </form>
          </div>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
  <% else %>
  <p class="empty">投稿がありません。</p>
  <% end %>
  
  <!-- おすすめユーザー -->
  <div class="recommend">
    <h2>おすすめ</h2>
    <ul>
      <li>
        <a href="#">
          <img src="https://dummyimage.com/200/f6d580/fff">
          <p>田中一郎</p>
        </a>
        <a class="button" href="#">フォローする</a>
      </li>
      <li>
        <a href="#">
          <img src="https://dummyimage.com/200/6eb7db/fff">
            <p>山田次郎</p>
        </a>
        <a class="button" href="#">フォローする</a>
      </li>
      <li>
        <a href="#">
          <img src="https://dummyimage.com/200/cfe283/fff">
          <p>山中三郎</p>
        </a>
        <a class="button" href="#">フォローする</a>
      </li>
      
    </ul>
  </div>
</div>